<div id='ring'>
  <button [ngClass]='claseBtnUsuario' id='btn-usuario'>{{opcionUsuario}}</button>
  <button [ngClass]='claseBtnMaquina' id='btn-maquina'>{{opcionMaquina}}</button>
</div>
<div id='resultado'>
  <button mat-raised-button (click)="CompararResultado()">Jugar</button>
  <h1>Resultado: {{resultado}}</h1>
</div>

<div id='botones-seleccion'>
  <button class='btn-piedra' (click)="ElegirOpcion('piedra')">Piedra</button>
  <button class='btn-papel' (click)="ElegirOpcion('papel')">Papel</button>
  <button class='btn-tijera' (click)="ElegirOpcion('tijera')">Tijera</button>
</div>
