
<mat-toolbar color='primary'>
  <a routerLink='/Principal'>Sala de Juegos</a>
  <button class="menu-principal" mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink='/Principal'>Principal</button>
    <button mat-menu-item>¿Quién?</button>
    <button mat-menu-item>¿Qué es?</button>
    <button mat-menu-item>¿Dónde?</button>
  </mat-menu>
</mat-toolbar>


  <div class="div-descripcion">

    <div class="div-foto">
      <h3>¿Quién Soy?</h3>
      <img src="./assets/imagenes/quien_soy.jpg" class="foto-alumno">
      <h3>Soy Lionel Roberto Herrero Battista, alumno de la UTN FRA</h3>
    </div>

    <div class="div-texto-aprendizaje">
      <h3>Esto es un trabajo práctico</h3>
      <p>Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias didácticas y formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de evaluación son elementales tanto para las instituciones y profesores como para los alumnos. A través de la evaluación formativa el educador busca información en el alumno para lograr comprender cómo se está
        produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno es una muestra del progreso que está logrando y si puede aplicar, materializar y darle visibilidad a la comprensión del tema. Según Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a la hora del aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación. </p>
      <div>
        <a mat-raised-button color='primary' href="#" id="btn-pdf">Descargar PDF</a>
      </div>
    </div>

  </div>
  <!-- Third Container (Grid) -->
  <div class='div-donde'>
    <div class='titulo'>
      <h3 class="margin">¿Dónde Funciona?</h3><br>
    </div>
    <div id='divs-donde-detalle'>
      <div class='div-detalle'>
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy11.png" class="img-div-donde"  alt="Image">
      </div>
      <div class='div-detalle'>
        <p>
          Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido
          y pensado en el comportamiento del usuario y en la funcionalidad.
        </p>
        <img src="./assets/imagenes/quiensoy22.png" class="img-div-donde" alt="Image">
      </div>
      <div class='div-detalle'>
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy33.png" class="img-div-donde" alt="Image">
      </div>
    </div>
  </div>

