a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}


.div-descripcion {
  display:flex;
  flex-direction: row;
}

.div-foto {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  max-height: 100%;
  padding: 2vh 2vw 2vh 2vw;

}

.foto-alumno {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-bottom: 2vh;
  border-radius: 250px;
}

.div-texto-aprendizaje {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  max-height: 100%;
  padding: 10vh 5vw 2vh 5vw;
}

h3 {
  text-align: center;
  font-size: 6vw;
  margin-bottom: 1vh;
}

p {
  text-align: center;
}

#btn-pdf {
  margin-top: 2vh;
}

.div-donde {
  display: flex;
  flex-direction: column;
  background-color: #3f51b5;
  padding-top: 1.2vh;
  /* height: 100%; */
}

.div-donde h3 {
  color: white;
  margin-top: 1vh;
  font-size: 8vw;
}


.div-donde p{
  color:white;
  /* height: 100%; */
}

#divs-donde-detalle {
  display: flex;
  flex-direction: row;
}

.div-detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 33%;
  height: 100%;
  padding: 2vh 2vw 2vh 2vw;
}

.img-div-donde {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
}


@media only screen and (min-width: 768px) {


h3 {
  text-align: center;
  font-size: 1.8vw;
  margin-bottom: 1vh;
}


.div-donde h3 {
  color: white;
  margin-top: 2.5vh;
}


}
