<app-menu></app-menu>


  <div class="div-descripcion">

    <div class="div-foto">
      <h3>¿Quién Soy?</h3>
      <img src="./assets/imagenes/quien_soy.jpg" class="foto-alumno">
      <p>Soy Lionel Roberto Herrero Battista, alumno de la UTN FRA</p>
    </div>

    <div class="div-texto-aprendizaje">
      <h3>Página de juegos</h3>
      <p>
        Esta página contiene varios juegos para ejercitar la mente. Se puede jugar a la velocidad y agilidad aritmética,
         al piedra papel o tijera, adivinar el número secreto, el anagama, el juego de la memoria y el ta te ti
      </p>
      <h3>Descripción de mi juego:</h3>
      <p>
        El juego de la memoria consiste en dar vuelta una serie de 12 cartas con imágenes de animales
        y encontrar los pares de cartas iguales antes de que se cumpla el tiempo establecido.
      </p>

      <div>
        <a mat-raised-button color='primary' href="#" id="btn-pdf">Descargar PDF</a>
      </div>
    </div>

  </div>
  <!-- Third Container (Grid) -->
  <div class='div-donde'>

      <h3>¿Dónde Funciona?</h3><br>

    <div id='divs-donde-detalle'>
      <div class='div-detalle'>
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy11.png" class="img-div-donde"  alt="Image">
      </div>
      <div class='div-detalle'>
        <p>
          Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido
          y pensado en el comportamiento del usuario y en la funcionalidad.
        </p>
        <img src="./assets/imagenes/quiensoy22.png" class="img-div-donde" alt="Image">
      </div>
      <div class='div-detalle'>
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy33.png" class="img-div-donde" alt="Image">
      </div>
    </div>
  </div>

