
mat-card-title {
  font-size: 6vw;
  text-align: center;
}

mat-card {
  height: 100%;
  margin-bottom: 2vh;
}

.tarjeta-pie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  max-width: 100%;
  max-height: 100%;
  padding: 10%;
}

@media only screen and (min-width: 768px) {


  mat-card-actions {
    display: flex;
    justify-content: center;

  }

  mat-card-title {
    font-size: 1.3vw;
    text-align: center;
  }

  p {
    font-size: 1.1vw;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    max-height: 100%;
    padding: 2%;
  }

  .card-menu {
    width: 20vw;
    margin: auto;
  }

  .img-card {
    max-width: 400px;
    height: auto;

  }


}


