<app-cabecera> </app-cabecera>

<!-- tarjetas -->
<div class="container">

  <div>
    <mat-card class="card-menu">

    <img mat-card-image class="img-card" src="./assets/imagenes/saladejuegos.jpg" alt="Imagen de juegos">
      <div class='tarjeta-pie'>
        <mat-card-title>Juegos</mat-card-title>
        <mat-card-content>
          <p>
            Jugá a juegos como el Ta Te Ti, el juego de la Memoria,
            el Piedra, papel o tijera y muchos más ¡Qué te diviertas!
            <!-- El método lúdico es un conjunto de estrategias diseñadas para
            crear un ambiente de armonía en los estudiantes que están inmersos
            en el proceso de aprendizaje. Este método busca que los alumnos se
            apropien de los temas impartidos por los docentes utilizando el
            juego. -->
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" routerLink="/Juegos">Juegos</a>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>


  <div>
    <mat-card class="card-menu">
      <img mat-card-image class="img-card" src="./assets/imagenes/podio.jpg" alt="Listados de resultados">

      <div class='tarjeta-pie'>
        <mat-card-title>Listados de resultados</mat-card-title>
        <mat-card-content>
          <p>
            Los listados de los resultados con ordenamiento y busqueda.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" routerLink="/Listado">Resultados</a>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>


  <div>
    <mat-card class="card-menu">
      <img mat-card-image class="img-card" src="./assets/imagenes/configuracion2.png" alt="Configuracion">
      <mat-card-title>Configuración</mat-card-title>
      <mat-card-content>
        <p>
          Ajustes de la aplicacion y los métodos de autentificación.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="/Configuracion">Configuración</a>
      </mat-card-actions>
    </mat-card>
  </div>


  <div>
    <mat-card class="card-menu">
      <img mat-card-image class="img-card" src="./assets/imagenes/lista_de_jugadores.jpg" alt="Imagen de jugadores">
      <mat-card-title>Jugadores</mat-card-title>
      <mat-card-content>
        <p>
          Listado de jugadores.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="/Jugadores">Jugadores</a>
      </mat-card-actions>
    </mat-card>
  </div>

  </div>







<!-- fin tarjetas -->
