<!-- tarjetas -->
<!-- <div class="container"> -->
  <div class='filas'>
    <div>
      <mat-card class="card-menu">
        <img mat-card-image class="img-card" src="./assets/imagenes/cerebro2.png" alt="Imagen personas pensando">
        <mat-card-title>Velocidad y agilidad aritmética</mat-card-title>
        <mat-card-content>
          <p>
            Juego de agilidad mental
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" routerLink="Agilidad">Jugar</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div>
      <mat-card class="card-menu">
        <img mat-card-image class="img-card" src="./assets/imagenes/ppt2.png" alt="Listados de resultados">
        <mat-card-title>Piedra, Papel o Tijera</mat-card-title>
        <mat-card-content>
          <p>
            Juega contra la máquina al Piedra, Papel o Tijera.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" routerLink="/Juegos/Ppt">Jugar</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div>
      <mat-card class="card-menu">
        <img mat-card-image class="img-card" src="./assets/imagenes/adivina2.png" alt="Configuracion">
        <mat-card-title>Adivina el número secreto</mat-card-title>
        <mat-card-content>
          <p>
            Adivinar el número secreto
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" routerLink="/Juegos/Adivina">Jugar</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class='filas'>
    <div>
      <mat-card class="card-menu">
        <img mat-card-image class="img-card" src="./assets/imagenes/anagrama.png" alt="Configuracion">
        <mat-card-title>Adivina la palabra</mat-card-title>
        <mat-card-content>
          <p>
            Adivinar la palabra que se forma.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" routerLink="/Juegos/Anagrama">Jugar</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div>
      <mat-card class="card-menu">
        <img mat-card-image class="img-card" src="./assets/imagenes/tateti.png" alt="Configuracion">
        <mat-card-title>Ta Te Ti</mat-card-title>
        <mat-card-content>
          <p>
            Jugar un Ta Te Ti contra la pc.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" routerLink="/Juegos/Anagrama">Jugar</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

<!-- </div> -->

<!-- fin tarjetas -->
