


  .filas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2vh 5vw 0vh 5vw;

  }

p {
  font-size: 4.5vw;
  text-align: center;
}

mat-card-title {
  font-size: 6vw;
  text-align: center;
}

mat-card {
  margin-bottom: 2vh;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}


@media only screen and (min-width: 768px) {

  .filas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5vh 5vw 5vh 5vw;

  }

  p {
    font-size: 1.1vw;
    text-align: center;
  }

  mat-card {
    height: 55vh;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
  }

  mat-card-title {
    font-size: 1.3vw;
    text-align: center;
  }


  .card-menu {
    width: 20vw;
    margin: auto;
  }

  .img-card {
    max-width: 400px;
    height: auto;

  }


}


