<!-- tarjetas -->
<div class="container">
  <mat-card class="card-menu">
    <img mat-card-image class="img-card" src="./assets/imagenes/cerebro2.png" alt="Imagen personas pensando">
    <mat-card-title>Velocidad y agilidad aritmética</mat-card-title>
    <mat-card-content>
      <p>
        Juego de agilidad mental
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/Principal">Jugar</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-menu">
    <img mat-card-image class="img-card" src="./assets/imagenes/ppt2.png" alt="Listados de resultados">
    <mat-card-title>Piedra Papel o Tijera</mat-card-title>
    <mat-card-content>
      <p>
        Juega contra la máquina.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/Principal">Jugar</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-menu">
    <img mat-card-image class="img-card" src="./assets/imagenes/adivina2.png" alt="Configuracion">
    <mat-card-title>Adivina el número secreto</mat-card-title>
    <mat-card-content>
      <p>
        Adivinar el número secreto
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/Principal">Jugar</a>
    </mat-card-actions>
  </mat-card>
</div>
<!-- fin tarjetas -->
