


<!-- Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Ingresá tu correo">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Clave</label>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Tu clave">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Repita la clave</label>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Acá repetí la clave">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordar mis datos</label>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" routerLink="/Principal">Me arrepentí</button>
        <button type="button" class="btn btn-primary">Registrarme</button>
      </div>
    </div>
  </div>
</div>
<!-- fin del modal -->

<!-- Términos y condiciones -->
<div class="container" id="terminos">
  <h2 class="text-center" id="terminos">Terminos y condiciones</h2>
  <p class="font-italic">El Gobierno de la República Argentina (en adelante el “Gobierno Nacional”) no es responsable
    por los daños y perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos,
    indirectos, que surjan en relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con
    cualquier falla en el vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión,
    virus de computadora o falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes
    fueran informados sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
  <p class="font-italic">El Gobierno Nacional no controla ni garantiza la ausencia de virus ni de otros elementos en
    los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los
    documentos electrónicos y ficheros almacenados en su sistema informático.</p>
  <p class="font-italic">El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los
    Usuarios sea completamente segura. El Usuario asume este riesgo.</p>
  <strong>
    <p>No leer lo anterior, es solo un ejemplo sacado de https://www.argentina.gob.ar/terminos-y-condiciones </p>
  </strong>

  <div id="box-botones" class="row justify-content-end">
    <button class="btn btn-success" onclick="document.getElementById('id01').style.display='block'">Acepto</button>
    <button class="btn btn-danger" routerLink="/Principal">No acepto</button>
  </div>
</div>
<!-- fin términos y condiciones -->

<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
