
h1 {
  text-align: center;
}

h3 {
  font-size: 3vw;
}

#botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#btn-empezar {
  height: 4vh;
  width: 20vw;
  max-width: 100%;
}

#cartas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 60vh;
  padding: 2vh 4vw 0 4vw
}

.fila {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  height: 15vh;
  width: 18vw;
  border: none;
}

/* 6 clases diferentes y clase vacia */
.carta-vacia {
  background-image: url('assets/imagenes/carta.png') ;
  background-size: cover;
}

.carta-1 {
  background-image: url('assets/imagenes/carpincho.png');
  background-size: cover;
}

.carta-2 {
  background-image: url('assets/imagenes/mono.png');
  background-size: cover;
}

.carta-3 {
  background-image: url('assets/imagenes/alpaca.png');
  background-size: cover;
}

.carta-4 {
  background-image: url('assets/imagenes/pinguino.png');
  background-size: cover;
}

.carta-5 {
  background-image: url('assets/imagenes/tucan.png');
  background-size: cover;
}

.carta-6 {
  background-image: url('assets/imagenes/sloth.png');
  background-size: cover;
}


@media only screen and (min-width: 768px) {

  h3 {
    margin: 0.3vh 0 0 0;

    font-size: 1.5vw;
    text-align: center;
  }

  #btn-empezar {
    height: 5vh;
    width: 10vw;
    max-width: 100%;
  }

  #cartas {
    max-height: 100%;
    padding: 2vh 20vw 2vh 20vw
  }


  .fila {
    height: 100%;
    width:100%;
    margin-bottom: 2vh;
  }


  button {
    height: 22vh;
    width: 8vw;

  }


}
