
.contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  padding: 5vh 10vw 0 10vw;

}

.titulo-juego {
  display: flex;
  justify-content: center;
}

.form {

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(121, 194, 194);
  border-radius: 50px;
  padding: 5vh 2vw 2vh 2vw;
  border-style: solid;

}

#botones {
  display: flex;
  justify-content: center;
}

#mensajes {
  margin-top: 2vh;
  display:flex;
  justify-content: center;
  text-align: center;

}

#numero-ingresado {
  text-align: center;
}

@media only screen and (min-width: 768px) {

}
