<div class='contenedor'>
  <div class='titulo-juego'>
    <h1>¡{{nuevoJuego.nombre}}!</h1>
  </div>

  <div class='form'>
    <form name="adivinaElNumero">

      <mat-form-field *ngIf="!ocultarVerificar">
        <mat-label>Tu número:</mat-label>
          <input matInput  [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="Tu número" name="numeroIngresado" type="text"/>
      </mat-form-field>

      <div id='numero-ingresado'>
        <h1>{{nuevoJuego.numeroIngresado}}</h1>
      </div>

      <div id='botones'>
        <button mat-raised-button color="primary" *ngIf="!ocultarVerificar" (click)="Verificar()">Verificar</button>
        <button mat-raised-button color="primary" *ngIf="ocultarVerificar" (click)="ComenzarJuego()">Nuevo número secreto</button>
      </div>

      <!-- <h2><p *ngIf="nuevoJuego.numeroSecreto != 0"><i ></i>Esperando que ingrese un número</p></h2> -->
    </form>

    <!-- Mensajes -->
    <div id='mensajes'>
      <h3>{{Mensajes}}</h3>
    </div>

    <div id='resultado'>
      <h3 [hidden]="!nuevoJuego.gano">Adivinaste el número</h3>
      <h3 [hidden]="nuevoJuego.gano">Todavía no ganaste</h3>
    </div>

  </div>
</div>


