
button {
  font-size: 3vw;
}

input {
  font-size: 2.6vw;
}

p {
  font-size: 4vw;
}

.container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 2vh 15vw 0 15vw
}

.container-imagen {
  display: flex;
  justify-content: center;
}

.avatar{
  max-height: 150px;
  max-width: auto;
}

.formulario-login {
  display: flex;
  flex-direction:column;
  justify-content: center;

}

.botones-formulario {
  display: flex;
  justify-content: flex-end;

}

.container-opciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
  border-style: solid;
  border-radius: 15px;
  margin: 2.5vh 0 0 0;
  padding: 2.5vh 0 2.5vh 0;
}

.texto-opciones {
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
}

.botones-opciones {
  display: flex;
  justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  .avatar{
    max-height: 300px;
    max-width: auto;
  }

  p {
    font-size: 1.2vw;
  }

  input {
    font-size: 1.2vw;
  }

  button {
    font-size: 1vw;
  }

  .container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 25vw 0 25vw
  }



}
