<form>
  <mat-form-field>
    <mat-label>Primer número:</mat-label>
      <input matInput [(ngModel)]="primerNumero" placeholder="ingrese numero" name="primerNumero" type="text" [readonly]=true/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Operador:</mat-label>
    <input matInput [(ngModel)]="operador" placeholder="ingrese numero" name="operador" type="text" [readonly]=true/>
  </mat-form-field>

<mat-form-field>
  <mat-label>Segundo número:</mat-label>
    <input matInput [(ngModel)]="segundoNumero" placeholder="ingrese numero" name="segundoNumero" type="text" [readonly]=true/>
</mat-form-field>

<mat-form-field>
  <mat-label>Respuesta:</mat-label>
    <input matInput [(ngModel)]="respuesta" placeholder="ingrese numero" name="respuesta" type="text"/>
</mat-form-field>


    <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{tiempo}} </button></h2>
    <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo</button></h2>

</form>



<!-- <form name="juego">
<ul>
   <li>
   Primer número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>

  </li>
  <li>
   Operador: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>

  </li>
  <li>
   Segundo número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>

  </li>
  <li>
    Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>

   </li>
  <li>
    <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2>
  </li>
  <li>
    <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo</button></h2>
  </li>
  <li>
    <h2><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>

    <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
    <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
  </li>
</ul>

</form> -->
