table {
  width: 100%;
}


th {
  text-align: center!important;
}

td {
  text-align: center;
}


a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}
