
<!-- <mat-toolbar color='primary'>
  <a routerLink='/Principal'>Sala de Juegos</a>
  <button class="menu-principal" mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink='/Principal'>Principal</button>
    <button mat-menu-item>Juego 1</button>
    <button mat-menu-item>Juego 2</button>
    <button mat-menu-item>Juego 3</button>
  </mat-menu>
</mat-toolbar> -->

<app-menu></app-menu>

<div id="tabla">
  <table mat-table [dataSource]="listadoResultados" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Juego Column -->
    <ng-container matColumnDef="juego">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Juego. </th>
      <td mat-cell *matCellDef="let element"> {{element.juego}} </td>
    </ng-container>

    <!-- Jugador Column -->
    <ng-container matColumnDef="jugador">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Jugador </th>
      <td mat-cell *matCellDef="let element"> {{element.jugador}} </td>
    </ng-container>

    <!-- Resultado Column -->
    <ng-container matColumnDef="resultado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Resultado </th>
      <td mat-cell *matCellDef="let element"> {{element.resultado}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
