#tabla {

  display:flex;
  justify-content: center;

}

table {
  width: 100%;
}

a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}
