<mat-toolbar>
  <span>Sala de Juegos</span>
  <button mat-button routerLink="/Principal">Home</button>
  <button mat-button [matMenuTriggerFor]="juegos">Juegos</button>
  <mat-menu #juegos="matMenu">
    <button mat-menu-item>Alta</button>
    <button mat-menu-item>Listado</button>
  </mat-menu>
  <button mat-button routerLink="/Registro">Registro</button>
  <button mat-button routerLink="/Login">Iniciar Sesión</button>

</mat-toolbar>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">Sala de Juegos</a>
  <button (click)="mostrarNavbar()" class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ show: isCollapsed }" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Principal">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Registro">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Login">Iniciar Sesión</a>
      </li>
    </ul>
  </div>
</nav> -->

<div id="box-cabecera">
  <h1 class="text-center" style="font-size: 50px;">Sala de Juegos</h1>
  <p class="text-center">por Lionel Roberto Herrero Battista</p>
  <div class="text-center" id="box-info">
    <a class="badge badge-info align-self-center" href="https://github.com/lionelherrerobattista" target="_blank">en
      GitHub</a>
    <a class="badge badge-info align-self-center" routerLink="/QuienSoy">¿Quién Soy?</a>
  </div>
</div>
